header.header
    .header__nav
        include ../logo/logo
        include ../menu/menu
        include ../socials/socials
    section.box-intro
        .table-cell
            h1.box-headline.letters.rotate-2
                span.box-words-wrapper
                    b.is-visible Simple & modern
                    b Fast & furious
                    b Vadym strebkov
            h5 We make the world's beautiful every day
    section.scrolldown
        a(class="smoothscroll" href="#projects")
            img(src="../assets/images/down.png", alt="scroll-down")
