.contact {
    position: relative;
}
.contact-wrap {
    width: 770px;
    height: 450px;
    position: absolute;
    background-color: white;
    left: 30%;
    top: -300px;
}

.contact__heading {
    padding: 90px 0 60px 0;
}

.contact__form {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
}

.contact__form__input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}