section.contact
    .contact-wrap
        h3.contact__heading.title-bck get in touch
        section.contact__form
            .contact__form__info
                img(src="../assets/images/contact.png", alt="")
            .contact__form__input
                input#name(type="text", name="your name" placeholder="Your Name")
                input#email(type="text", name="your email" placeholder="Email")
                button.contact__button.btn submit
