section.header__menu
    ul.menu__list
        li.menu__item.active
            a.menu__link(href="/index.html") About Us
        li.menu__item
            a.menu__link(href="") projects
        li.menu__item
            a.menu__link(href="") news
        li.menu__item
            a.menu__link(href="") contact