section.gallery
    h3.gallery__heading.title-bck gallery
    .gallery__wrap
        .wrap_360
            img.gallery__360(src="../assets/images/gallery1.jpg", alt="")
        .wrap_img
            img.gallery__item(src="../assets/images/gallery2.jpg", alt="")
            img.gallery__item(src="../assets/images/gallery3.jpg", alt="")
            img.gallery__item(src="../assets/images/gallery4.jpg", alt="")
            img.gallery__item(src="../assets/images/gallery5.jpg", alt="")
    button.gallery__button.btn.gal-btn
        a.gallery__link(href="/") see more