include ../utils/mixin

section.socials
    .socials__icons
        .social__item
            a(href="https://www.facebook.com/").socials__links
                img(src="../assets/images/fa.png", alt="facebook")
        .social__item
            a(href="https://twitter.com/").socials__links
                img(src="../assets/images/twt.png", alt="twitter")
        .social__item
            a(href="https://www.instagram.com/").socials__links
                img(src="../assets/images/ins.png", alt="instagram")
