
$icon-icon-logo-width: 49.6px;
$icon-icon-logo-height: 28.8px;
$icon-icon-search-width: 20.7px;
$icon-icon-search-height: 21.7px;

.icon_logo {
  width: $icon-icon-logo-width;
  height: $icon-icon-logo-height;
}

.icon_search {
  width: $icon-icon-search-width;
  height: $icon-icon-search-height;
}

