section.news
    h3.news__heading.title-wht Latest news
    .news__block
        .news__card
            .news__card__img
                img(src="../assets/images/news1.jpg", alt="")
            h6.news__card__title See The Unmatched Beauty Of The Great.
            p.news__card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim inventore illo mollitia ab ratione nulla maiores magni, officiis reprehenderit odit?
            .news__card__author
                 img.author__image(src="../assets/images/author1.jpg", alt="")
                 .author__text
                    p.author__name Isaac Dunn
                    p.author__date 09 Feb 2017
        .news__card
            .news__card__img
                img(src="../assets/images/news2.jpg", alt="")
            h6.news__card__title See The Unmatched Beauty Of The Great.
            p.news__card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim inventore illo mollitia ab ratione nulla maiores magni, officiis reprehenderit odit?
            .news__card__author
                 img.author__image(src="../assets/images/author2.jpg", alt="")
                 .author__text
                    p.author__name Isaac Dunn
                    p.author__date 09 Feb 2017
        .news__card
            .news__card__img
                img(src="../assets/images/news3.jpg", alt="")
            h6.news__card__title See The Unmatched Beauty Of The Great.
            p.news__card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim inventore illo mollitia ab ratione nulla maiores magni, officiis reprehenderit odit?
            .news__card__author
                 img.author__image(src="../assets/images/author3.jpg", alt="")
                 .author__text
                    p.author__name Isaac Dunn
                    p.author__date 09 Feb 2017
        .news__card
            .news__card__img
                img(src="../assets/images/news3.jpg", alt="")
            h6.news__card__title See The Unmatched Beauty Of The Great.
            p.news__card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim inventore illo mollitia ab ratione nulla maiores magni, officiis reprehenderit odit?
            .news__card__author
                 img.author__image(src="../assets/images/author1.jpg", alt="")
                 .author__text
                    p.author__name Isaac Dunn
                    p.author__date 09 Feb 2017
        .news__card
            .news__card__img
                img(src="../assets/images/news3.jpg", alt="")
            h6.news__card__title See The Unmatched Beauty Of The Great.
            p.news__card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim inventore illo mollitia ab ratione nulla maiores magni, officiis reprehenderit odit?
            .news__card__author
                 img.author__image(src="../assets/images/author2.jpg", alt="")
                 .author__text
                    p.author__name Isaac Dunn
                    p.author__date 09 Feb 2017
        .news__card
            .news__card__img
                img(src="../assets/images/news3.jpg", alt="")
            h6.news__card__title See The Unmatched Beauty Of The Great.
            p.news__card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim inventore illo mollitia ab ratione nulla maiores magni, officiis reprehenderit odit?
            .news__card__author
                 img.author__image(src="../assets/images/author3.jpg", alt="")
                 .author__text
                    p.author__name Isaac Dunn
                    p.author__date 09 Feb 2017
        .news__card
            .news__card__img
                img(src="../assets/images/news3.jpg", alt="")
            h6.news__card__title See The Unmatched Beauty Of The Great.
            p.news__card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim inventore illo mollitia ab ratione nulla maiores magni, officiis reprehenderit odit?
            .news__card__author
                 img.author__image(src="../assets/images/author1.jpg", alt="")
                 .author__text
                    p.author__name Isaac Dunn
                    p.author__date 09 Feb 2017
