<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        script(src="utils/jquery.min.js")
        script(src="utils/slick/slick.min.js" type="text/javascript")
        script(src="news/news.js")
        script(src="header/animated-headline.js")
        script(src="header/scrolldown.js")
        script(src="menu/active_menu.js")
        link(rel="stylesheet", href="style.min.css")
        link(rel="stylesheet", href="utils/slick/slick.css" type="text/css")
        link(rel="stylesheet", href="utils/slick/slick-theme.css" type="text/css")
        title Incognito


    body
        include header/header
        include projects/projects
        include news/news
        include gallery/gallery
        include map/map
        include contact/contact
        include footer/footer

        include utils/sprite.html
