footer.footer
    .footer__content
        include ../logo/logo
        include ../socials/socials
    .footer__copr
        p  Copyrights © 2017 Monticello Group  
        p |
        p  Made with love by Ga Huy