include ../utils/mixin

section.projects#projects
    h3.projects__heading.title-bck what we do
    article.projects__first-project
        .projects__img
            img(src="../../assets/images/Back_blue.jpg", alt="back" class="back_blue")
            img(src="../../assets/images/project1.png", alt="first-project" class="image")
        .projects__textblock1
            h3.projects__title
                span.projects__subtitle.title_sm One World
                span.projects__title.title_lg Trade Center
            p Increasing prosperity in our lives can be accomplished by havin
            button.projects__btn.btn.pro-btn
                a.projects__btn__link(href="/") more details
            .projects__location
                img(src="../assets/images/location.png", alt="")
                p New York City, United States - 1776 feet

    article.projects__second-project
        .projects__textblock2.tbk
            h3.projects__title
                span.projects__subtitle.title_sm International
                span.projects__title.title_lg Commerce Centre
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, vel impedit? Nam officiis quaerat blanditiis?
            button.projects__btn.btn.pro-btn
                a.projects__btn__link(href="/") more details
            .projects__location
                img(src="../assets/images/location.png", alt="")
                p Hong Kong - 1588 Feet
        .projects__images
            img(src="../../assets/images/project2.png", alt="first-project" class="proimage")
            img(src="../../assets/images/Back_violet.jpg", alt="back" class="back_violet")
